@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* ============================
   Geist Font Family
============================ */

/* Geist font family with all weights */
@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist/Geist-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist/Geist-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist/Geist-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist/Geist-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist/Geist-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist/Geist-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist/Geist-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist/Geist-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist/Geist-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* ============================
   Neue Montreal Font Family (OTF)
============================ */
@font-face {
  font-family: "NeueMontreal";
  src: url("./assets/fonts/neue-montreal/NeueMontreal-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("./assets/fonts/neue-montreal/NeueMontreal-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("./assets/fonts/neue-montreal/NeueMontreal-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("./assets/fonts/neue-montreal/NeueMontreal-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Register font with Tailwind */
@theme {
  --font-geist: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --font-neue: "NeueMontreal", sans-serif;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Custom Themes  */
  --color-custom-white: var(--custom-white);
  --color-custom-black: var(--custom-black);
  --color-custom-base: var(--custom-base);
  --color-custom-card: var(--custom-card);
  --color-custom-input-stroke: var(--custom-input-stroke);
  --color-custom-input-fill: var(--custom-input-fill);
  --color-custom-input-mute: var(--custom-input-mute);
  --color-custom-input-label: var(--custom-input-label);
  --color-custom-light-stroke: var(--custom-light-stroke);
  --color-custom-light-bg: var(--custom-light-bg);
  --color-custom-grey: var(--custom-grey);
  --color-custom-blue-shade: var(--custom-blue-shade);
  --color-custom-blue-text: var(--custom-blue-text);
  --color-custom-white-text: var(--custom-white-text);
  --color-custom-ticker-green: var(--custom-ticker-green);
  --color-custom-ticker-red: var(--custom-ticker-red);
  --color-custom-orange: var(--custom-orange);
  --color-custom-orange-10: var(--custom-orange-10);
  --color-custom-rise-green: var(--custom-rise-green);

  /* Fixed Colors  */
  --color-fixed-white: #fdfdfd;
  --color-fixed-black: #000000;
  --color-fixed-base: #0a0d14;
  --color-fixed-card: #111111;
  --color-fixed-input-stroke: #9ab404;
  --color-fixed-input-fill: #1e1e1e;
  --color-fixed-input-mute: #2a2a2a;
  --color-fixed-input-label: #e6e6e6;
  --color-fixed-light-stroke: #9ab404;
  --color-fixed-light-bg: #222431;
  --color-fixed-grey: #cccccc;
  --color-fixed-blue-shade: #102040;
  --color-fixed-blue-text: #4da6ff;
  --color-fixed-white-text: #f5f5f5;
  --color-fixed-ticker-green: #2ea678;
  --color-fixed-ticker-red: #b31533;
  --color-fixed-orange: #aa7744;
  --color-fixed-orange-10: #fdddc4;
  --color-rise: #0e98a0;

  /* Fixed Dark Colors  */
  --color-fixed-orange-10-dark: #1d1512;

  /* Fonts  */
  --font-sans: "Geist Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono", ui-monospace, monospace;
  --font-neue: "NeueMontreal", sans-serif;

  /* Breakpoints  */
  --breakpoint-xs: 30rem;
  /* --breakpoint-2xs: 28rem; */
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Custom Colors Light Mode  */
  --custom-white: #0a0d14;
  --custom-black: #080808;
  --custom-base: #f5f5f6;
  --custom-card: #ffffff;
  /* --custom-card-inner: #F6F9FA; */
  --custom-input-stroke: #cdd0d5;
  --custom-input-fill: #ffffff;
  --custom-input-mute: #f0f2f5;
  --custom-input-label: #ffffff;
  --custom-light-stroke: #31353f;
  --custom-light-bg: #f6f9fa;
  --custom-grey: #31353f;
  --custom-blue-shade: #e6f0fc;
  --custom-blue-text: #0a4286;
  --custom-white-text: #0a0d14;
  --custom-ticker-green: #38c793;
  --custom-ticker-red: #df1c41;
  --custom-orange: #f46c31;
  --custom-ticker-green: #38c793;
  --custom-ticker-red: #df1c41;
  --custom-orange-10: #fdddc4;

  /* New Colors  */
  /* --muted-foregroundd: #868C98; */
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* Custom Colors Dark Mode  */
  --custom-white: #ffffff;
  --custom-black: #000000;
  --custom-base: #0a0d14;
  --custom-card: #161922;
  --custom-input-stroke: #525866;
  --custom-input-fill: #20232d;
  --custom-input-mute: #31353f;
  --custom-input-label: #ffffff;
  --custom-light-stroke: #cdd0d5;
  --custom-light-bg: #222431;
  --custom-grey: #cdd0d5;
  --custom-blue-shade: #102040;
  --custom-blue-text: #4da6ff;
  --custom-white-text: #ffffff;
  --custom-ticker-green: #2ea678;
  --custom-ticker-red: #b31533;
  --custom-orange-10: #1d1512;
  --custom-rise-green: #0becf81a;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .font-neue {
    font-family: "NeueMontreal", sans-serif;
  }
}

.btn-primary {
  @apply border-2 border-custom-orange bg-white text-custom-orange 
  hover:bg-gray-50
   dark:bg-custom-orange dark:text-custom-white 
   dark:hover:bg-custom-orange/80 dark:hover:border-custom-orange/80
   cursor-pointer
   transition-all ease-in-out duration-300;
}

.btn-secondary {
  @apply border border-custom-black bg-custom-black text-white 
   dark:bg-custom-orange dark:text-custom-white 
   dark:border-custom-orange
   cursor-pointer
   transition-all ease-in-out duration-300;
}

.bg-custom-gradient {
  @apply bg-gradient-to-tr from-white via-pink-50 to-pink-100 
  dark:bg-custom-black dark:from-custom-black dark:via-custom-black dark:to-custom-black;
}

.checkbox-orange {
  @apply data-[state=checked]:bg-custom-orange data-[state=checked]:border-custom-orange dark:data-[state=checked]:border-custom-orange dark:data-[state=checked]:bg-custom-orange;
}

.no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
